<div class="container py-3">
  <header>
    <div
      class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"  >
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
  
        <span class="fs-4">Boom Shop</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/products">Products</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/add">Add</a>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button" class="btn btn-danger active">
           <a class="text-light text-decoration-none" href="/logout">Logout</a>
          </button>
          <button type="button" class="btn btn-primary active">
            <a class="text-light text-decoration-none" href="/login">Login</a>
          </button>
          <button type="button" class="btn btn-success active">
            <a class="text-light text-decoration-none" href="/register">Register</a>
          </button>
        </div>
      </nav>
    </div>
  </header>
</div>